h2 {
  /* background-color: gray; */
  margin: 10px 0px;
  text-align: center;
  justify-content: center;
}

#Hero {
  background-image: url("./assets/images/porsche-911-carrera-car-6o.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 50vh;
}
